
<div class="container">
  <h1>Listing Users</h1>

<table class = "datatables table table-responsive">
  <thead>
    <tr>
      <th>Username</th>
      <th>Gender</th>
      <th>Phone</th>
      <th>City</th>
      <th>Citycode</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.gender %></td>
        <td><%= user.phone %></td>
        <td><%= user.city %></td>
        <td><%= user.citycode %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>

<%= link_to 'Send Newsletter', send_newsletter_path, remote: true, class: 'btn btn-primary' %>

</div>
